@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* .background-image
{
    background-image: url("https://cdn.pixabay.com/photo/2018/04/21/05/22/food-3337716_1280.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
} */